<h2>Log in:</h2>
<h3 *ngIf="message">{{message}}</h3>

<form (ngSubmit)="login()" [formGroup]="loginForm">

    <div class="login-username">
        <input type="text"
            placeholder="Name"
            name="username"
            formControlName="username"
            required>

        <div *ngIf="username.invalid && 
            (username.dirty || username.touched)"  
            class="input-error">
            <div *ngIf="username.errors.required">Username is required</div>
            <div *ngIf="username.errors.invalidName">This name is forbidden, try another</div>
        </div>
    </div>

    <div class="login-password">
        <input type="password"
            placeholder="Password"
            name="password"
            formControlName="password"
            required>

        <div *ngIf="password.invalid && 
            (password.dirty || password.touched)"  
            class="input-error">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.invalidName">Invalid password</div>
        </div>
    </div>
    <button type="submit">Log in</button>
</form>

